.CraftListHaeader{
    text-align: center;
    
}

.CraftList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    
}
.CraftList a{
    margin: 0 30px ;
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 글자 색상을 검은색으로 설정 */
}

.CraftListArticle {
    width: 240PX;
    height: 208PX;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 43px;
}

.CraftListArticle img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.CraftListArticle h4 {
    padding: 10px;
    font-size: 18px;
    margin: 0;
}