

/* 중앙 필터링 드롭다운 CSS */
.filter-dropdowns {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    gap: 10px; /* 드롭다운 간의 간격 */
    margin-top: 20px; /* 드롭다운 아래 여백 */
  }
  
  .filter-dropdowns select {
    background-color: rgba(255, 255, 255, 0.7); /* 배경을 반투명하게 설정 */
    border: 1px solid #ccc; /* 드롭다운의 테두리 */
    padding: 10px 20px; /* 드롭다운의 내부 여백 */
    font-size: 16px; /* 폰트 크기 */
    cursor: pointer; /* 마우스를 올렸을 때 커서를 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
  }
  
  .filter-dropdowns select:hover {
    background-color: rgba(255, 255, 255, 1); /* 마우스를 올렸을 때 배경을 불투명하게 설정 */
  }
  
  .cocktail-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 가로로 5개씩 나열 */
    grid-gap: 10px; /* 각 칵테일 간의 간격 */
    padding: 20px; /* 전체적인 여백 추가 */
    justify-items: center; /* 칵테일 아이템들을 중앙으로 정렬 */
  }
  
  .cocktail-link {
    text-decoration: none;
    color: inherit;
  }
  
  .cocktail-item {
    text-align: center;
    margin: auto; /* 박스를 가운데 정렬 */
  }
  
  .image-box {
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* 이미지가 없는 경우 배경색 */
    border-radius: 8px;
  }

  
  .cocktail-image img {
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정 */
    max-height: 100%; /* 이미지의 최대 높이를 100%로 설정 */
    object-fit: contain; /* 이미지가 잘리지 않도록 설정 */
  }
  
  .cocktail-name {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: bold;
  }
  .my-cocktail-link {
    margin-top: 20px;
  }
  
  .my-cocktail-link a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
  }