.GisContainer {
    display: flex;
    height: 100vh;
  }
  
  .GisSidebar {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
    height: 100%;
  }
  
  .GisPlaceItem {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .GisPlaceName {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .GisAddressName,
  .GisPhone {
    margin-bottom: 5px;
    color: #666;
  }
  
  .GisMapContainer {
    width: 70%;

  }