/* 추가된 슬라이더 스타일 및 애니메이션 */
.slider-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow: hidden;
  bottom: -45px;
  width: 100%;
  position: relative;
  height: 500px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slider-track {
  display: flex;
  width: calc(200%); /* 두 배로 설정 */
  gap: 20px;
  animation: scroll 30s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
  /* 호버할 경우 애니메이션 일시 정지 */
}

.cocktail-details {
  position: absolute;
  top: 260px;
  width: 25%;
  /* 부모 요소의 전체 너비를 사용 */
  background-color: rgba(255, 255, 255, 0);
  /* 투명한 하얀 배경색 */
  box-sizing: border-box;
  /* padding이 너비를 늘리지 않도록 설정 */
  text-align: left;
  /* 텍스트 왼쪽 정렬 */
  font-size: 12px;
  /* 폰트 크기 조정 */
  margin: 3px;
  color: #fff;
  text-shadow: 1px 2px 5px black;
  p {
    margin: 3px;
    margin-left: 8px;
  }
}

.cocktail-link {
  text-decoration: none;
  color: inherit;
}

.cocktail-name {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: auto;
  /* 남은 공간을 아래로 밀착 */
}

.slider-items {
  margin: 10px;
  width: 230px; 
  border: 1px solid #46464685;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.cocktailImage {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.91%, rgba(0, 0, 0, 0.3) 75.88%);
  width: 250px;
  height: 308px;

  img {
    padding: 16px 20px;
    width: 100%;
    height: 100%;
  }
}
