.historyMain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 68%;
  margin: 0 15% 0 15%;

  h1 {
    padding: 10px
  }

  p {
    padding: 10px
  }
}

.historyMain img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  height: 500px;
  border-radius: 20px;
}

.historyCocktail {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}


.contentBox {
  background-color: #f8f8f8;
  padding: 10px;
  /* 패딩 값을 줄였습니다 */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}