.snackBody {   
    margin: 150px 150px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* 요소를 가로로 정렬합니다. */
    align-items: center; /* 요소를 수직으로 가운데 정렬합니다. */
    justify-content: space-between; /* 요소 사이의 공간을 균등하게 배치합니다. */
    min-height: 200px; /* 최소 높이를 200px로 설정합니다. */
}

.snackImageContainer {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; /* 컨테이너가 가용 공간을 차지하도록 설정 */
    text-align: center;
}

.snackDescription {
    height: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 2; 
}

.snackTitle h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
}

.snackTitle p {
    padding: 5px;
}