/* BasicMenu.css */
.header {
    background-color: #ab2d2d;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* 메뉴와 로그인 링크를 좌우로 분리하기 위해 */
    align-items: center;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul li {
    display: inline;
    margin-right: 10px;
}

.header ul li a {
    color: #ffffff;
    text-decoration: none;
}

.login-link {
    margin-left: auto; /* 로그인 링크를 오른쪽으로 이동시키기 */
}
