/* CraftList 스타일 */
.CraftListHaeader {
    text-align: center;
}

.CraftList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px;
}

.CraftList a {
    margin: 0 30px 0 30px;
}

.CraftListArticle {
    width: 250px;
    height: 208px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CraftListArticle img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.CraftListArticle h4 {
    padding: 10px;
    font-size: 18px;
    margin: 0;
}

/* CraftPage 스타일 */
.crafts-container {
    height: 100vh; /* 화면 전체 높이 */
    overflow: hidden; /* 스크롤바 숨기기 */
}

.crafts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}

.mensuration-section {
    display: flex;
    align-items: flex-start;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    margin-left: 100px;
    max-width: 700px;
}

.crafts img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.crafts h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.crafts h4 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.crafts p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.cocktail-section {
    background-color: antiquewhite;
    border: 3px solid #000000;
    padding: 20px;
    text-align: center;
    max-width: 800px; /* 폭을 늘립니다. */
    border-radius: 10px;
}
