.historyHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 아이템을 시작점부터 정렬합니다. */
  padding: 20px;
  /* margin-top: 150px; */ /* 이 부분은 주석 처리합니다. */
}

.historyImageContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  height: auto;
  z-index: -1;
}

.historyImageContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 3px ;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.historyContent {
  position: relative;
  z-index: 1;
  background-color: antiquewhite;
  border: 3px ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 800px; /* 폭을 늘립니다. */
  margin: 0 auto;
  margin-top: 280px; /* 이 값을 조정하여 "칵테일의 역사" 섹션을 더 아래로 이동시킵니다. */
  top: 60px; /* 이 값을 조정하여 "칵테일의 역사" 섹션을 더 아래로 이동시킵니다. */
  left: -740px; /* 왼쪽으로 이동시킵니다. */
  border-radius: 10px;
}

.history_name h4 {
  margin: 5px 0;
}

.history_name h1 {
  margin: 10px 0;
  font-size: 24px;
}

.history_name h4:last-child {
  margin-bottom: 0;
}

.historyMain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  /* margin-top: 200px; */ /* 이 부분은 주석 처리합니다. */
}

.historyCocktail {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

.historyMain > * {
  border: 3px ;
  padding: 20px;
  margin-bottom: 20px;
}

.contentBox {
  background-color: #f8f8f8;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
