/* 전반적인 레이아웃 및 타이포그래피 설정 */


.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%; /* 컨테이너가 전체 너비를 사용하도록 설정 */
    max-width: 1280px; /* 전체 컨테이너의 최대 너비 */
    margin: 0 auto; /* 페이지 중앙 정렬 */
}

.main-container .content {
    height: 760px;
}

.ad-sidebar {
    width: 140px; /* 광고 너비 설정 */
    height: 680px; /* 광고 높이 설정 */
    flex-shrink: 0; /* 창 크기가 변경되어도 광고 크기가 줄어들지 않도록 설정 */
}

/* 기사 컨테이너 */
.article-container {
    height: 210px;
    width: 816.922px;
    display: flex;
    background: white;
    margin: 20px 0; /* 가운데 정렬에서 좌우 마진 제거 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: flex-start; /* 이미지와 내용을 상단에 정렬 */
    transition: opacity 0.5s ease-in-out; /* 페이드 인/아웃 효과 추가 */
}

/* 기사 이미지 스타일 */
.article-container img {
    width: 200px; /* 이미지 크기를 200px로 조정 */
    height: 170px; /* 높이를 자동으로 조정하여 비율 유지 */
    margin-right: 20px; /* 이미지와 텍스트 사이 간격 */
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out; /* 페이드 인/아웃 효과 추가 */
}

/* 기사 내용과 링크 컨테이너 */
.article-content {
    flex-grow: 1; /* 남은 공간 모두 사용 */
    display: flex;
    flex-direction: column; /* 세로로 내용 배치 */
    justify-content: space-between; /* 내용과 링크 사이 공간 최대화 */
    transition: opacity 0.5s ease-in-out; /* 페이드 인/아웃 효과 추가 */
}

/* 기사 컨테이너가 마우스를 올릴 때 효과 */
.article-container:hover {
    opacity: 0.9;
}

/* 기사 이미지가 마우스를 올릴 때 효과 */
.article-container:hover img {
    opacity: 0.9;
}

/* 기사 내용과 링크가 마우스를 올릴 때 효과 */
.article-container:hover .article-content {
    opacity: 0.9;
}


/* 기사 제목 */
.main-container h1 {
    margin-top: 0; /* 상단 여백 제거 */
    font-size: 24px; /* 글씨 크기를 24px로 증가 */
}

/* 기사 링크 */
.main-container a {
    align-self: flex-end; /* 링크를 우측 하단으로 배치 */
    color: #0066cc;
    text-decoration: none;
}

.main-container a:hover {
    text-decoration: underline;
}

/* 링크 스타일 */
.link-home {
    display: inline-block;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.link-home:hover {
    background-color: #e2e2e2;
}

/* 버튼 스타일 */
.main-container button {
    background-color: #0084ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 710px;
    width:  140px;
}

.main-container button:disabled {
    background-color: #ccc;
}

.main-containerbutton:hover {
    background-color: #0056b3;
}



.linkmain{
    display: flex;
}