@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* App.css */
body {
  background: #F8F7F4;
  overflow: hidden;
  height: 100vh;
  font-family: 'MapoFlowerIsland', sans-serif;
}


.logo {
  width: 100px;
  height: 65px;
  background-image: url('./img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: #0d0c22;
}

.navbar {
  background-color: transparent;
  /* 투명 배경 */
  color: white;
  /* 글자 색상 */
}


.login-button {
  margin: 20px;
  padding: 10px 20px;
  background: rgba(13, 110, 253, 0.25);
  color: white;
  font-size: 16px;
  border: 1px solid #0000003d;
  border-radius: 5px;
  cursor: pointer;
  line-height: 10px
}

.nav-link {
  margin-right: 20px;
  /* 오른쪽 마진을 추가하여 간격을 만듬 */
  color: white !important;
}

/* 마지막 링크의 마진을 제거하려면 */
.nav-link:last-child {
  margin-right: 0;
  /* 마지막 항목의 마진을 0으로 설정 */
}

.navbar.shrink .nav-link {
  font-size: 12px;
  /* 축소시 폰트 크기 감소 */
}

.navbar.expand .nav-link {
  font-size: 16px;
  /* 확장시 폰트 크기 */
}

.login-button-color:hover {
  background-color: #4e454e !important;
  /* 마우스 오버 시 더 어두운 차콜색 */
}

.cocktail-button {
  color: white !important;
}

.ingredient-button {
  color: white !important;
}

.recipe-button {
  color: white !important;
}

.news-button {
  color: white !important;
}



.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  margin: 0 10px;
}

.center-section {
  display: flex;
  justify-content: center;
}

.container-lg {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

.header {

  margin-bottom: 70px;
}

.headerExpand {
  position: fixed;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff00;
  /* 그라데이션 색상 설정 */
  z-index: 6;
  transition: all 0.3s ease;
  height: 70px;

}

.header.shrink {
  padding: 10px;
  background: linear-gradient(to left, #ff7e5f, #feb47b, #fbf0ea);
  /* 스크롤 시 그라데이션 색상 변경 */
}

.cocktail {
  margin-right: 30px;
  width: 100px;
  height: 65px;
  background-image: url('./img/Cocktail_02.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.5fr 1.5fr;
  /* 5개의 열을 정의하고 마지막 두 열을 1.5배로 설정 */


  display: grid;
  justify-content: start;
  padding: 0 20px 0 0;
  grid-gap: 10px;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* 로그인 버튼 옆에 간격 추가 */
}



.home-container {
  margin: 0 auto;
  text-align: center;
  h1 {
    text-align: center;
    max-width: 870px;
    font-size: 72px;
    line-height: 76px;
    margin: 40px auto 24px;
    font-family: "Source Serif 4", Georgia, serif;
    font-weight: 400;
    letter-spacing: -0.5px;
  }

  div {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
  }

  a {
    margin-top: 32px;
    text-align: center;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  background-color: #0d0c22de;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  color: #F8F7F4;
  margin: 20px;
  height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  background-position: 0% 0;
  transition: all .4s ease-in-out;

}

.btn-hover:hover {
  background-position: 100% 0;
  background-color: #0d0c228f;
}

.btn-hover:focus {
  outline: none;
}

.navbar {
  a {
    padding: 6px 12px;
    color: #000;
    text-decoration: none;
    transition: color 0.2s;
  }

  a:hover{
    color: #7e4141;
  }
  div {
    
    padding: 4px 12px;
    color: #000;
    text-decoration: none;
    transition: color 0.2s;
    :hover{
      color: #7e4141;
    }
  }
}